{% extends "layout.html" %}

{% block titulo%}
    Agregar nueva Paqueteria
{% endblock %}

{% block content %}
{{super()}}

<div>
    <div class=" d-flex justify-content-center py-4" style="height: 800px">
        <div >
            <div class="card text-white bg-success mb-3 text-center shadow-lg" style="max-width: rem; width: 500PX;">
                <div class="card-header"> 
                    <img src="../../static/img/tec.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                    Agregar Paqueteria</div>
                    <div class="card-body bg-light text-dark">
                        <form action="/Paqueteria/agregar" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>ID Paqueteria:</label>
                                <input type="text" name="idPaqueteria" class="input" required>
                            </div>
                            <div class="form-group">
                                <label for="nombre">Nombre:</label>
                                <input type="text" name="nombre" required maxlength="60" placeholder="Nombre de Categoria" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="paginaweb">Pagina Web:</label>
                                <input type="text" name="paginaweb" required maxlength="60" placeholder="Nombre de Categoria" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="telefono">Telefono:</label>
                                <input type="text" name="telefono" required maxlength="60" placeholder="Nombre de Categoria" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="precio">Precio:</label>
                                <input type="text" name="precio" required maxlength="60" placeholder="Nombre de Categoria" class="form-control">
                            </div>
                            <div class="form-control">
                                <label for="estatus">Estatus:</label><br>
                                <input type="checkbox" name="estatus" value="A" checked>Activo
                                <br>
                                <input type="checkbox" name="estatus" value="I"> Inactivo
                            </div>
                            <br>
                                <button type="submit" class="btn btn-primary">Registrar</button>
                                <a href="/Categorias" class="btn btn-danger">Cancelar</a>
                        </form>
                    </div>                   
            </div>
        </div>
    </div>
</div>

{% endblock %}