{% extends "layout.html" %}

{% block titulo%}
    Productos General
{% endblock %}

{% block content %}
{{super()}}
    <center><h1>Revisa tu pedido</h1></center>
<table class="table table-success table-bordered border-light">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Descripción</th>
                <th scope="col">Detalles</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" style="text-align: center;"><img src="../../images/teclado.jpg" width="135" height="70">
                </th>
                <td><b>Teclado Mecanico</b>
                    <br>
                    Cantidad: 2
                    <br>
                    $700.00
                    </td>
                </td>
                <td>De: tgonzalez895@accitesz</br><br>Entrega estimada el Miercoles </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                    <b>Total: </b>$1400.00
                </td>

            </tr>
    </tbody>
    </table>
<script src="../../static/js/bootstrap.min.js"></script>
</body>
<footer>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <b>Metodo de pago:</b>

    <p align="right">
        <button style="background: darkgreen; color: floralwhite;" float-right> Comprar </button>
        &nbsp;
    </p>
    <br>&nbsp;&nbsp;&nbsp;&nbsp;
    Seleccionar tarjeta:
            <select required class=imput name = "Tarjeta"
			<option value="Elije Tarjeta">Elije Tarjeta</option>
			<option value="Jose Luis BBVA" selected>Jose Luis BBVA - 4152 4152 4152 4152</option>
			<option value="Bancoppel - 4152 4152 4152 4152">Bancoppel - 4152 4152 4152 4152</option>
			</select>
    <br>&nbsp;&nbsp;&nbsp;&nbsp;
    <br>&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="btn btn-outline-success" type="button" style="background: darkgreen; color: floralwhite;" href="../Tarjetas/AltaTarjeta.html"> <u>Agregar tarjeta</u> </a>
</footer>

{% endblock %}