{% extends "layout.html" %}

{% block titulo%}
Editar Pedido
{% endblock %}

{% block content %}
{{super()}}
    <center><h1>Mis compras</h1></center>

<table class="table table-success table-bordered border-light">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Descripción</th>
                <th scope="col">Detalles</th>
                <th scope="col">Estatus</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" style="text-align: center;"><img src="../../images/playeraTEC.jpg" width="70" height="70">
                </th>
                <td><b>Playera TECNM</b>
                    <br>
                    De: fcontreras849@accitesz<br>
                    Num. Pedido: 2514
                <td>Fecha: 11-Julio-2021
                    <br>
                    Cantidad: 2
                    <br>
                    Total: $ 1000.00 MXN
                </td>
                <td><b>En camino</b><br>Entrega estimada el Jueves </td>
                <td><a class="btn btn-outline-success" type="button" style="background: darkgreen; color: floralwhite;" href="Seguimiento.html">Revisar Seguimiento</a>
                    <br>
                    <button style="background: darkred; color: floralwhite; text-align: end;">Cancelar pedido</button>
                </td>
            </tr>
            <tr>
                <th scope="row" style="text-align: center;"><img src="../../images/teclado.jpg" width="70" height="70">
                </th>
                <td><b>Teclado Mecanico</b>
                    <br>
                    De: tgonzalez895@accitesz<br>
                    Num. Pedido: 2514
                <td>Fecha: 11-Julio-2021
                    <br>
                    Cantidad: 1
                    <br>
                    Total: $ 700.00 MXN
                </td>
                <td><b>En camino</b><br>Entrega estimada el Lunes </td>
                <td><a class="btn btn-outline-success" type="button" style="background: darkgreen; color: floralwhite;" href="Seguimiento.html">Revisar Seguimiento</a>
                    <br>
                    <button style="background: darkred; color: floralwhite; text-align: end;">Cancelar pedido</button>
                </td>
            </tr>
            <tr>
                <th scope="row" style="text-align: center;"><img src="../../images/Libreta.png" width="70" height="70">
                </th>
                <td><b>Playera TECNM</b>
                    <br>
                    De: ajuarez536@accitesz<br>
                    Num. Pedido: 2471
                <td>Fecha: 11-Julio-2021
                    <br>
                    Cantidad: 5
                    <br>
                    Total: $ 4150.00 MXN
                </td>
                <td><b>Entregado el 10 Jul. 2021</b></td>
                <td><button style="background: darkslategray; color: floralwhite;">Comprar de nuevo</button>
                </td>
            </tr>
        </tbody>
    </table>

    {% endblock %}

