{% extends "layout.html" %}

{% block titulo%}
    Productos General
{% endblock %}

{% block content %}
{{super()}}

    <table class="table table-success table-bordered border-light">
        <thead>
            <tr>
                <th scope="col">Imagen</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio</th>
                <th scope="col">Estatus</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" style="text-align: center;"><img src="images/teclado.jpg" width="100" height="70">
                </th>
                <td><b>Teclado Mecanico</b>
                    <br>
                    De: tgonzalez895@accitesz
                    <br>
                    Visitas: 90
                    <br>
                    ID:3685932147
                </td>
                <td>$ 700.00 MXN</td>
                <td>Plan del anuncio: <b>Gratis</b></td>
                <td><button style="background: darkgreen; color: floralwhite;">Modificar</button>
                    <br>
                    <button style="background: red; color: floralwhite; text-align: end;">Eliminar</button>
                    <br>
                    <button style="background: whitesmoke; color: black; text-align: end;">Detalles</button>
                </td>
            </tr>

        </tbody>
    </table>

    {% endblock %}