{% extends "layout.html" %}

{% block titulo%}
Consulta Productos
{% endblock %}

{% block content %}
{{super()}}

<div>
    <div class=" d-flex justify-content-center py-4" style="height: 800px">
        <div >
            <div class="card text-white bg-success mb-3 text-center shadow-lg" style="max-width: rem; width: 1800PX;">
                <div class="card-header"> 
                    <img src="../../static/img/tec.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                    Listado de Productos</div>
                <div class="card-body bg-light text-dark">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end py-4 px-4">
                        <a href="{{url_for('nuevoProducto')}}" class="btn btn-success btn-lg" role="button">Agregar</a>
                    </div>
                    <table class="table table-light">
                        <th>IDPRODUCTO</th>
                        <th>IDCATEGORIA</th>
                        <th>NOMBRE</th>
                        <th>DESCRIPCION</th>
                        <th>PRECIOVENTA</th>
                        <th>EXISTENCIA</th>
                        <th>FOTO</th>
                        <th>ESPECIFICACIONES</th>
                        <th>ESTATUS</th>
                        <th>VER</th>
                        {% for pro in productos %}
                            <tr>
                                <td>{{pro.idProducto}}</td>
                                <td>{{pro.idCategoria}}</td>
                                <td>{{pro.nombre}}</td>
                                <td>{{pro.descripcion}}</td>
                                <td>{{pro.precioVenta}}</td>
                                <td>{{pro.existencia}}</td>
                                <td><img src="/Productos/consultarFoto/{{pro.idProducto}}" width="100px" height="80px"></td>
                                <td><img src="/Productos/consultarEspecificaciones/{{pro.idProducto}}" width="100px" height="80px"></td>
                                <td>{{pro.estatus}}</td>
                                <td>
                                    <a href="/Productos/{{pro.idProducto}}" class="btn btn-warning btn-lg"  role="button">Editar
                                    <span class="glyphicon glyphicon-eye-open"></span>                                   
                                    </a>   
                                    <button class="btn btn-default" id="agregar" onclick="agregarCarrito()">Agregar</button>                                  
                                    </a>                                 
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{url_for('static',filename='js/productos.js')}}"></script>
{% endblock %}