{% extends "layout.html" %}

{% block titulo%}
    Productos General
{% endblock %}

{% block content %}
{{super()}}
    <br>
    <br>
    <table class="table table-success table-bordered border-light">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" style="text-align: center;"><img src="images/PLAYERA.jpg" class="img-thumbnail"
                        alt="...">
                </th>
                <td><b>Playera TECNM</b>
                    <br>
                    Precio en pesos mexicanos
                    <br>
                    $500.00
                    <br>
                    Costo de envio $150.00 MXN
                    <br>
                    <p style="border: ridge whitesmoke;">El contacto acepta pagos en:
                        <br>
                        <img src="images/paypal.png" width="50" height="70"><img src="images/tarjeta.png" width="50"
                            height="70"><img src="images/efectivo.jpg" width="50" height="70">
                    </p>
                    <br>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Datos de contacto</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Telefono</h6>
                            <p class="card-text">3512648796</p>
                            <h7>Email</h7>
                            <p class="card-text">fcontreras849@accitesz</p>
                            <h8>Ubicación</h8>
                            <p class="card-text">Zamora de Hidalgo</p>
                        </div>

                    </div>

                    <br>
                    Cantidad:
                    <select name="Cantidad" id="Cantidad" form="Cantidad">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10+">10+</option>
                    </select>
                    <br>
                    <button style="background: darkgreen; color: floralwhite;">Ordenar</button>


                </td>

            </tr>

        </tbody>
    </table>
    {% endblock %}
