{% extends "layout.html" %}

{% block titulo%}
Editar Productos
{% endblock %}

{% block content %}
{{super()}}

<div>
    <div class=" d-flex justify-content-center py-4" style="height: 800px">
        <div>
            <div class="card text-white bg-success mb-3 text-center shadow-lg" style="max-width: rem; width: 500PX;">
                <div class="card-header">
                    <img src="../../static/img/tec.jpg" alt="" width="30" height="24"
                        class="d-inline-block align-text-top">
                    Editar Productos
                </div>
                <div class="card-body bg-light text-dark">
                    <form action="/Productos/EditarProductos" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="nombre">ID Producto:</label>
                            <input type="text" name="idProducto" class="input" value='{{pro.idProducto}}' readonly>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="nombre">ID Categoria:</label>
                            <input type="text" name="idCategoria" class="input" value='{{pro.idCategoria}}' readonly>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="nombre">Descripcion:</label>
                            <input type="text" name="descripcion" class="input" value='{{pro.descripcion}}' required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label>Precio de Venta:</label>
                            <input type="text" name="precioventa" class="input" min="0"value='{{pro.precioventa}}' required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label>EXISTENCIA:</label>
                            <input type="number" name="existencia" class="input" min="0" value='{{pro.existencia}}' required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label>FOTO:</label>
                            <input type="image" name="foto" class="input" value='{{pro.foto}}' required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label>ESPECIFICACIONES:</label>
                            <input type="text" name="especificaciones" class="input" value='{{pro.especificaciones}}' required>
                        </div>
                        <div class="form-control">
                            <label for="estatus">Estatus:</label>
                            {% if pro.estatus=='A' %}
                            <input type="checkbox" name="estatus" value="A" checked> Activo
                            {% else %}
                            <input type="checkbox" name="estatus" value="I"> Inactivo
                            {% endif %}
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Registrar</button>
                        <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#borrar">
                            Eliminar
                        </a>
                        <a href="/Productos/Productos" class="btn btn-danger">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="../../static/js/bootstrap.min.js"></script>


<!-- Modal para ver el cuadro de dialogo de eliminar-->
<div id="borrar" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h4 class="modal-title">Eliminación de Productos</h4>
            </div>
            <div class="modal-body">
                <p>¿ Estas seguro de eliminar el Producto: <b>{{pro.idProducto}} ?</b> </p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" href="/Productos/eliminar/{{pro.idProducto}}">Aceptar</a>
                <button type="button" class="btn btn-info bg-danger text-white" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>

    </div>
</div>

{% endblock %}