{% extends "layout.html" %}

{% block titulo%}
    Productos General
{% endblock %}

{% block content %}
{{super()}}
    <form>
        <br>
        <br>
        <h1><b>Registro de Productos</b></h1>
        <br>
        <br>
        <select class="form-select" aria-label="Categoria del producto">
            <option selected>Categoria del producto</option>
            <option value="1">Ropa</option>
            <option value="2">Computo</option>
            <option value="3">Papeleria</option>
            <option value="4">Articulos de Laboratorio</option>
            <option value="5">Electronica</option>
            <option value="6">Papeleria</option>
        </select>
        <br>
        <br>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Nombre del Producto</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default">
        </div>
        <br>
        <br>
        <div class="input-group">
            <span class="input-group-text"> Precio del prducto</span>
            <input type="text" class="form-control" aria-label="pesos mexicanos">
            <span class="input-group-text">$</span>
            <span class="input-group-text">0.00 MXN</span>
        </div>
        <br>
        <br>
        <label for="imagen"><b>Imagen del Producto</b></label>
        <div class="mb-3">
            <div class="input-group mb-3">

                <label class="input-group-text" for="inputGroupFile01">Subir</label>
                <input type="file" class="form-control" id="inputGroupFile01">
            </div>
            <label for="exampleInputEmail1" class="form-label">Email de contacto</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Este sera el correo que se tendra como contacto con usted como
                vendedor</div>
        </div>
        <br>
        <br>
        <label for="imagen"><b>Plan del anuncio</b></label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Gratis
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
                Premium
            </label>
        </div>
        <br>
        <button style="background: darkgreen; color: floralwhite; text-align: center;">Publicar</button>
        
        <button style="background: red; color: floralwhite; text-align: center;">Eliminar</button>

    </form>

    {% endblock %}