{% extends "layout.html" %}

{% block titulo%}
Carrito
{% endblock %}

{% block content %}
{{super()}}

<div>
    <div class=" d-flex justify-content-center py-4" style="height: 800px">
        <div >
            <div class="card text-white bg-success mb-3 text-center shadow-lg" style="max-width: rem; width: 1800PX;">
                <div class="card-header"> 
                    <img src="../../static/img/tec.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                    Carrito</div>
                <div class="card-body bg-light text-dark">                   
                    <table class="table">
                        <thead>
                            <th>Seleccionar</th>
                            <th>PRODUCTO</th>
                            <th>UNIDADES</th>
                            <th>PRECIO</th>
                            <th>TOTAL</th>
                            <th>FECHA DE REGISTRO</th>
                        </thead>
                        {% for pro in cesta %}
                            <tr>
                                <td><input type="checkbox" name="idProducto"></td>
                                <td>{{pro.producto.nombre}}</td>
                                <td>{{pro.cantidad}}</td>
                                <td>{{pro.producto.precioVenta}}</td>
                                <td>{{pro.producto.precioVenta * pro.cantidad}}</td>
                                <td>{{pro.fecha}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <p align="right">
        <a class="btn btn-outline-success" type="button" style="background: darkgreen; color: floralwhite;" href="../Pedidos/Compra.html"> Comprar </a>
        &nbsp;
    </p>
</footer>
{% endblock %}