{% extends "layout.html" %}

{% block titulo%}
Alta Tarjetas
{% endblock %}

{% block content %}
{{super()}}

    <br>
    <center>
    <h1><b>CESTA</b></h1>
    </center>
    <br>

<table class="table table-success table-bordered border-light">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Imagen</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align:center;">
                    <br>
                    <input type="checkbox" name="Seleccion" class="input">
                </td>
                <th scope="row" style="text-align: center;"><img src="../../images/teclado.jpg" width="100" height="70">
                </th>
                <td>
                    <b>Teclado Mecanico</b>
                    <br>
                    Envío de 2 a 3 días
                    <br>
                    Enviado desde Guadalajara, Jalisco
                    <br>
                    ID:3685932147
                </td>
                <td style="text-align:center;">
                    <br>
                    $ 700.00 MXN
                </td>
                <td style="text-align:center;">
                    <br>
                    Cantidad:
                    <select name="Cantidad" id="Cantidad" form="Cantidad">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10+">10+</option>
                    </select>
                </td>
                <td style="text-align:center;">
                    <br>
                    <button style="background: red; color: floralwhite; text-align: end;">Eliminar</button>
                </td>
            </tr>

        </tbody>
    </table>

    <!--Todos los plugins Javascrpt de Bootstrap-->
    <script src="../../static/js/bootstrap.min.js"></script>
</body>

<footer>
    <p align="right">
        <a class="btn btn-outline-success" type="button" style="background: darkgreen; color: floralwhite;" href="../Pedidos/Compra.html"> Comprar </a>
        &nbsp;
    </p>
</footer>
{% endblock %}