{% extends "layout.html" %}

{% block titulo%}
Agregar Usuario
{% endblock %}

{% block content %}
{{super()}}

<div>
    <div class=" d-flex justify-content-center py-4" style="height: 800px">
        <div>
            <div class="card text-white bg-success mb-3 text-center shadow-lg" style="max-width: rem; width: 500PX;">
                <div class="card-header">
                    <img src="../../static/img/tec.jpg" alt="" width="30" height="24"
                        class="d-inline-block align-text-top">
                    Agregar Usuario
                </div>
                <div class="card-body bg-light text-dark">
                    <form action="/usuarios/agregar" method="post" enctype="multipart/form-data">

                        <div class="form-group form-floating mb-3">
                            <input type="text" class="form-control" name="nombreCompleto"
                                placeholder="name@example.com" required>
                            <label for="validationCustom03" >Nombre - Apellido Paterno - Apellido Materno</label>
                        </div>
                        <div class="form-group form-floating mb-3">
                            <input name="direccion" type="text" class="form-control" 
                                placeholder="name@example.com" required>
                            <label for="validationCustom03">Dirección</label>
                        </div>
                        <div class="form-group form-floating mb-3">
                            <input type="tel" class="form-control" name="telefono" required>
                            <label for="validationCustom03">Telefono</label>
                        </div>
                        <div class="form-group form-floating mb-3">
                            <input type="email" class="form-control" name="email"
                                placeholder="name@example.com" required>
                            <label for="validationCustom01">Correo</label>
                        </div>
                        <div class="form-group form-floating">
                            <input type="password" class="form-control" name="password" placeholder="Password"
                                required>
                            <label for="validationCustom02">Contraseña</label>
                        </div><br>
                        <div class="form-group form-floating">
                            <select class="form-select form-control" id="tipo" name="tipo" aria-label="Floating label select example">
                                <option value="Comprador">Comprador</option>
                                <option value="Vendedor">Vendedor</option>
                                <option value="Admin">Administrador</option>
                            </select>
                            <label for="Tipo">Tipo</label>
                        </div><br>
                        <div class="form-group form-floating">
                            <select class="form-select form-control" name="estatus" id="estatus" aria-label="Floating label select example">
                                <option value="A">Activo</option>
                                <option value="I">Inactivo</option>
                            </select>
                            <label for="floatingSelect">Estatus</label>
                        </div>

                        <br>
                        <button type="submit" class="btn btn-success">Guardar</button>
                        <a href="/usuarios" class="btn btn-danger">Cancelar</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}