<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="utf-8">
        <meta name="viweport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <!--CSS de Bootstrap -->
        <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

    </head>

    <body style="background-color: #572364">
        <div class="container">
            <div class=" d-flex justify-content-center align-items-center" style="height: 800px">
                <div >
                    <div class="card text-white bg-success mb-3 text-center shadow-lg" style="max-width: rem; width: 500PX;">
                        <div class="card-header"> 
                            <img src="../../static/img/tec.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                            Shopitesz</div>
                        <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Inicio de Sesión</h5>
                        
                            <form action="#">
                                                                
                                <div class="form-floating mb-3 shadow-lg">
                                    <input type="email" class="form-control" id="validationCustom01" placeholder="name@example.com" required>
                                    <label for="validationCustom01">Correo</label>
                                    <div class="valid-feedback">Correcto</div>
                                  </div>
                                  <div class="form-floating shadow-lg">
                                    <input type="password" class="form-control" id="validationCustom02" placeholder="Password" required>
                                    <label for="validationCustom02">Contraseña</label>
                                  </div><br>
                                  <div class="d-grid">
                                    <button class="btn btn-success" type="submit" onclick="location.href='http://127.0.0.1:5000/productos'">Continuar</button>
                                  </div><br>
                                  
                            </form>

                            <p class="card-text">¿No tienes cuenta?  <a href="{{url_for('registroClientes')}}">Registrate</a></p>
                            
                            <a href="">¿Olvidaste tu contraseña?</a> <br>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>