{% extends "layout.html" %}
{% block content %}

<div class="container" style="width: 1800;">
    <div class=" d-flex justify-content-center align-items-center" style="height: 800px; width: 1500px;;">
        <div class="row">
        <div class="col">
            <div class="card text-white bg-success mb-3 text-center" style="max-width: rem; width: 200PX;">
                <div class="card-header"> 
                    Opciones</div>
                <div class="card-body bg-light text-dark">
                
                    <ul class="list-group list-group-flush">
                        <div class="d-grid">
                            <a href="../Pedidos/Pedidos.html" class="btn btn-succes btn-lg" role="button">Mis Compras</a>
                        </div><br>
                        <div class="d-grid">
                            <a href="../Pedidos/Compra.html" class="btn btn-succes btn-lg" role="button">Mi Pedido</a>
                        </div><br>
                        <div class="d-grid">
                            <a href="../Pedidos/Seguimiento.html" class="btn btn-succes btn-lg" role="button">Seguir Pedido</a>
                        </div><br>
                        <div class="d-grid">
                            <a href="../Cesta/Cesta.html" class="btn btn-succes btn-lg" role="button">Cesta</a>
                        </div><br>
                        <div class="d-grid">
                            <a href="../Tarjetas/AltaTarjeta.html" class="btn btn-succes btn-lg" role="button">Mis Tarjetas</a>
                        </div><br>
                      </ul>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-success mb-3 text-center" style="max-width: rem; width: 1000PX;">
                <div class="card-header"> 
                    Mis Datos</div>
                <div class="card-body bg-light text-dark">

                    <img src="../../static/img/perfil.webp" class="img-fluid" style="width: 100px; height: 100px;">
                
                    <form action="#">

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="validationCustom03" value="Jorge" required>
                            <label for="validationCustom03">Nombre</label>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="validationCustom03" value="Lozornio" required>
                                    <label for="validationCustom03">Apellido Paterno</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="validationCustom03" value="Vazquez" required>
                                    <label for="validationCustom03">Apellido Materno</label>
                                </div>
                            </div>
                        </div>                                
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="validationCustom03" value="Av Juarez 2" required>
                            <label for="validationCustom03">Dirección</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="tel" class="form-control" id="validationCustom03" value="3511234567" required>
                            <label for="validationCustom03">Telefono</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="validationCustom01" value="jorge@gmail.com" required>
                            <label for="validationCustom01">Correo</label>
                          </div>
                          <div class="form-floating">
                            <input type="password" class="form-control" id="validationCustom02" value="1234567890" required>
                            <label for="validationCustom02">Contraseña</label>
                          </div><br>
                                                      
                          <br>
                          <div class="d-grid">
                            <button class="btn btn-success" type="submit">Guardar</button>
                          </div><br>
                          
                    </form>

                </div>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}