<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="utf-8">
        <meta name="viweport" content="width=device-width, initial-scale=1.0">
        <title>Registro</title>
        <!--CSS de Bootstrap -->
        <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../images">

    </head>

    <body style="background-color: #572364">
        <div class="container">
            <div class=" d-flex justify-content-center align-items-center" style="height: 800px">
                <div >
                    <div class="card text-white bg-success mb-3 text-center" style="max-width: rem; width: 500PX;">
                        <div class="card-header"> 
                            <img src="../../static/img/tec.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                            Shopitesz</div>
                        <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Registro</h5>
                        
                            <form action="#">

                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="validationCustom03" placeholder="name@example.com" required>
                                    <label for="validationCustom03">Nombre</label>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="validationCustom03" placeholder="name@example.com" required>
                                            <label for="validationCustom03">Apellido Paterno</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="validationCustom03" placeholder="name@example.com" required>
                                            <label for="validationCustom03">Apellido Materno</label>
                                        </div>
                                    </div>
                                </div>                                
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="validationCustom03" placeholder="name@example.com" required>
                                    <label for="validationCustom03">Dirección</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="tel" class="form-control" id="validationCustom03" required>
                                    <label for="validationCustom03">Telefono</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="validationCustom01" placeholder="name@example.com" required>
                                    <label for="validationCustom01">Correo</label>
                                  </div>
                                  <div class="form-floating">
                                    <input type="password" class="form-control" id="validationCustom02" placeholder="Password" required>
                                    <label for="validationCustom02">Contraseña</label>
                                  </div><br>
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                                    <label class="form-check-label" for="flexCheckDefault">
                                        <a href="">Aceptar terminos y condiciones
                                    </label>
                                  </div>                                  
                                  <br>
                                  <div class="d-grid">
                                    <button class="btn btn-success" type="submit">Continuar</button>
                                  </div><br>
                                  
                            </form>

                            <p class="card-text">¿Ya tienes cuenta?  <a href="{{url_for('login')}}">Inicia Sesión</a></p>
                            
                            <a href="">Ir al inicio</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>